@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    width: 98vw;
    height: 100vh;
    color: rgb(223, 223, 223);
    background-color: rgb(73, 73, 73);
}

header {
    padding-bottom: 5px;
    border-radius: 0px 0px 10px 10px;
    background-color: #585858;
    text-align: center;
    margin: auto;
    width: 80%;
}

header > h1 {
    margin-bottom: 10px;
    color: white;
}

div.form {
    margin: 5px;
    padding: 4px 0px 4px 0px;
}



div#nomebox {
    width: 270px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}

div#comentbox {
    width: 350px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}

div#imgbox {
    display: flex;
    justify-content: center;
}

header p {
    margin-top: 5px;
    font-weight: bolder;    
}

main {
    padding: 5px;
}

section {
    margin: 20px 10px 45px 65px;
    display: flex;
    justify-content: flex-start;
}

.postespaço {
    background-color: rgb(73, 73, 73);
    border-radius: 20px 20px 20px 20px;
    min-height: 330px;
    min-width: 420px;
    padding: 15px;
    border: solid 2px rgb(102, 102, 102);
    display: flex;
    flex-flow: column nowrap;
}

.postimg {
    border-radius: 19px 19px 0px 0px;
    min-width: 400px;
    height: 250px;
}

.divflex {
    border-radius: 0px 0px 5px 5px;
    background-color: rgb(73, 73, 73);
    width: 450px;
    min-height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: rgb(240, 240, 240);
    align-self: flex-end;
    justify-content: flex-end;
}

.postuser {
    display: flex;
    align-self: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    font-weight: lighter;
    font-size: 0.7em;
}

.postcomentario {
    align-self: flex-start;
    min-height: 35px;
    margin-left: 5px;
    font-size: 1.3em;
}

/*--------------------------------------------------------------*/

#picture__input {
    display: none;
}
  
.picture {
    margin: 10px;
    width: 150px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}
  
.picture:hover {
    color: #777;
    background: #ccc;
}
  
.picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
}
  
.picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
  .picture__img {
    max-width: 100%;
}