#picture__input {
    display: none;
}

.picture {
    outline: 2px solid #fff ;
    width: 400px;
    height: 400px;
    aspect-ratio: 16/9;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms case-in-out, background-color 300ms case-in-out;
    outline: none;
}

.picture:hover {
    color: #777;
    background-color: #ccc;
}

.picture:active {
    border-color: turquoise;
    color: turquoise;
    background-color: #eee;
}

.picture:focus {
    color: #777;
    background-color: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.picture.img {
    max-width: 100%;
}